
DATABASE_URL=postgresql+psycopg2://college_db_bsev_user:LMitSKwdd5WrrfHCO0NHdalmBVHr27Ni@dpg-d2rcv975r7bs73bss50g-a.oregon-postgres.render.com/college_db_bsev
SECRET_KEY=change-me-in-prod
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
ENV=dev
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=college_db_bsev_user
POSTGRES_PASSWORD=LMitSKwdd5WrrfHCO0NHdalmBVHr27Ni
POSTGRES_DB=college_db_bsev
